@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fontsPPNeueMontreal-Medium.woff2") format("woff2"),
    url("../fonts/PPNeueMontreal-Medium.wofff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
