// Colors
$primary: #49af00;
$quite-black: #151515;
$black: #000000;
$white: #ffffff;

// Queries
$br-desktop: 1200px;
$br-tablet: 768px;
$br-mobile: 550px;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
